@import url('https://fonts.googleapis.com/css?family=Gochi+Hand|Open+Sans|Asap+Condensed');

$main-font: 'Asap Condensed', sans-serif;
$bg-primary: #ebebeb;
$bg-secondary: #cecece;
$text-primary: #4e4e4e;
$text-secondary: rgb(155, 155, 155);
$accept: #9ae29a;
$decline: #f9c0c0;
$loading-bar: #a1c1db;

$board-width: 300px;

body {
  color: $text-primary;
  font-family: $main-font;
}

input,
button {
  color: $text-primary;
  font-family: $main-font;
  box-sizing: border-box;
  font-size: 20px;
  height: 40px;
  padding: 5px;
  border: 1px solid lightgray;
}

button {
  cursor: pointer;
  background: $bg-primary;

  &:hover {
    background: darken($bg-primary, 5%);
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
